.myfooter {
  position: fixed;
  bottom: 5px;
  right: 10px;
  left:10px;
  height:90px;
  background-color: rgba(205, 205, 205, 0.81);
}
#editable_url {
    resize:none;
  display: inline-block;
  position: absolute;
  left: 5px;
  width:calc(100% - 110px);

    top:0px;
  bottom:5px;
  margin: 5px;
  margin-bottom: 0px;
}


#search_btn {
  color: #fff;
  font-size: 13px;
  margin: 5px;
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.gradient-search {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(102, 126, 234, 1),
    rgba(118, 75, 162, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(102, 126, 234, 1),
    rgba(118, 75, 162, 1)
  );
}
